.app {
    height: 97vh;
    display: flex;
    /* align-items: stretch; */
    flex-direction: column;
    /* overflow: hidden; */
}
.header {
    height: 60px
}
.content {
    height: calc(100% - 60px);
}